.page-packs {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr;
    column-gap: 2rem;
    max-width: 90rem;
    margin: 0 auto;
}

.page-packs > div {
    height: 100%;
    padding-block: 2rem;
}

.page-packs .level-container {
    display: flex;
}

.page-packs .level {
    flex: 1;
}